include ../photo/photo
include ../contacts/contacts
include ../speech/speech

mixin home
  main.home(itemscope itemtype="http://schema.org/Person")
    +photo.home__photo

    .home__content
      .tez
      h1.home__title= title
      h2.home__specialty(itemprop="jobTitle")= specialty

      section.home__about(itemprop="knowsAbout")
        each text in about
          p!= text

      +contacts
      +speech
