.home {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--content-width);
  padding: 3rem;
  margin: 0 auto;
  background: var(--background-color);
}

.home__content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: calc(var(--content-width) / 3 * 2);
  padding: var(--wrap-top, 0) var(--wrap-right, 0) var(--wrap-bottom, 0) var(--wrap-left, 0);
}

.home__title {
  padding: 0;
  margin: 0 0 0.125em;
  font-size: 3.735rem;
  font-weight: 600;
  color: var(--text-color);
  opacity: 0.99;
}

.home__specialty {
  padding: 0;
  margin: 0 0 0.125em;
  font-size: 1.75rem;
  font-weight: 400;
}

.home__about {
  text-wrap: balance;
}

.home__photo {
  position: fixed;
  bottom: -40px;
  left: 45vw;
  width: calc(var(--content-width) / 3 * 2);
}

@media (max-height: 750px) {
  .home__content {
    width: 65%;
  }

  .home__photo {
    bottom: 0;
    transform: translateY(10%);
  }
}

@media (max-width: 900px) {
  .home__content {
    max-width: 75%;
  }

  .home__photo {
    right: 0;
    left: auto;
    width: 75vw;
    transform: translateX(20%);
  }
}

@media (max-width: 700px) {
  .home {
    max-width: none;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__specialty {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .home {
    padding: 2rem;
  }

  .home__content {
    width: auto;
    max-width: none;
    margin: 1rem 0 0;
  }

  .home__photo {
    position: static;
    width: 100%;
    border-bottom: 1px solid rgba(var(--brand-color-rgb), 0.4);
    transform: none;
  }
}

@media (max-width: 400px) {
  .home__title {
    font-size: 2.25rem;
  }

  .home__specialty {
    font-size: 1.5rem;
  }
}
