include ../list/list

mixin speech
  section.speech
    h3.speech__title= speech.title
    +list
      each item in speech.list
        +listItem.speech__item
          a(href=item.link)= item.title
          .speech__place= item.place
