mixin photo
  .photo&attributes(attributes)
    picture
      source(srcset="./components/photo/photo_900.webp, ./components/photo/photo_1800.webp 2x" type="image/avif")
      source(srcset="./components/photo/photo_900.webp, ./components/photo/photo_1800.webp 2x" type="image/webp")
      img.photo__image(src="./components/photo/photo_900.jpg" srcset="./components/photo/photo_900.jpg, ./components/photo/photo_1800.jpg 2x" alt=photo itemprop="image")
