include ../section/section

mixin contacts
  +section(contacts.title).contacts
    div
      each contact, index in contacts.list
        if index > 0
          != ", "
        a(href=contact.link rel="noopener noreferrer" target="_blank")= contact.name
