mixin contacts
  section.contacts
    each contact, index in contacts
      if index > 0
        span.contacts__space
      a.contacts__link(href=contact.link rel="noopener noreferrer" target="_blank")= contact.name
